*.[oa]
*.py[co]
*.exe
*.log
*.out
*.dat
*.txt
*.png
*.jpg
*.jpeg

.*
data/
build/
spider/__pycache__/
spider/insts_async/__pycache__/
spider/insts_thread/__pycache__/
spider/concurrent/__pycache__/
spider/utilities/__pycache__/
